* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

.page {
  min-height: 1614px;
  min-width: 1020px;
  background-color: #CFD0CF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .page__header {
    height: 122px;
    width: auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 42px;
  font-family: Arial;
  font-weight: bold;
  color: #434344; }

.game-board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px 25px; }

.card {
  width: 130px;
  height: 130px;
  -webkit-perspective: 600px;
  perspective: 600px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .card__side {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 9px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .card__side_back {
      background: -webkit-gradient(linear, right top, left bottom, from(#19668D), to(#22AB93));
      background: -webkit-linear-gradient(top right, #19668D, #22AB93);
      background: -o-linear-gradient(top right, #19668D, #22AB93);
      background: linear-gradient(to bottom left, #19668D, #22AB93);
      border: 5px solid white; }
    .card__side_front {
      font-size: 75px;
      background-color: white; }
    .card_chosen_wrong .card__side_front {
      background-color: #F44336; }
    .card_chosen_right .card__side_front {
      background-color: #5AD66F; }
    .card_default .card__side_front {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg); }

@-webkit-keyframes front-turn-out {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }

@keyframes front-turn-out {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }
    .card_turned-back .card__side_front {
      -webkit-animation: front-turn-out 0.3s ease-in both;
      animation: front-turn-out 0.3s ease-in both; }

@-webkit-keyframes back-turn-out {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@keyframes back-turn-out {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
    .card_turned-front .card__side_back {
      -webkit-animation: back-turn-out 0.3s ease-in both;
      animation: back-turn-out 0.3s ease-in both; }

@-webkit-keyframes back-turn-in {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes back-turn-in {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
    .card_turned-back .card__side_back {
      -webkit-animation: back-turn-in 0.3s 0.3s ease-out both;
      animation: back-turn-in 0.3s 0.3s ease-out both; }

@-webkit-keyframes front-turn-in {
  0% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes front-turn-in {
  0% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
    .card_turned-front .card__side_front {
      -webkit-animation: front-turn-in 0.3s 0.3s ease-out both;
      animation: front-turn-in 0.3s 0.3s ease-out both; }
