.card {
  width: 130px;
  height: 130px;
  -webkit-perspective: 600px;
  perspective: 600px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .card__side {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 9px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .card__side_back {
      background: -webkit-gradient(linear, right top, left bottom, from(#19668D), to(#22AB93));
      background: -webkit-linear-gradient(top right, #19668D, #22AB93);
      background: -o-linear-gradient(top right, #19668D, #22AB93);
      background: linear-gradient(to bottom left, #19668D, #22AB93);
      border: 5px solid white; }
    .card__side_front {
      font-size: 75px;
      background-color: white; }
    .card_default .card__side_front {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg); }

@-webkit-keyframes front-turn-out {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }

@keyframes front-turn-out {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); } }
    .card_turned-back .card__side_front {
      -webkit-animation: front-turn-out 0.3s ease-in both;
      animation: front-turn-out 0.3s ease-in both; }

@-webkit-keyframes back-turn-out {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@keyframes back-turn-out {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }
    .card_turned-front .card__side_back {
      -webkit-animation: back-turn-out 0.3s ease-in both;
      animation: back-turn-out 0.3s ease-in both; }

@-webkit-keyframes back-turn-in {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes back-turn-in {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
    .card_turned-back .card__side_back {
      -webkit-animation: back-turn-in 0.3s 0.3s ease-out both;
      animation: back-turn-in 0.3s 0.3s ease-out both; }

@-webkit-keyframes front-turn-in {
  0% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes front-turn-in {
  0% {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }
    .card_turned-front .card__side_front {
      -webkit-animation: front-turn-in 0.3s 0.3s ease-out both;
      animation: front-turn-in 0.3s 0.3s ease-out both; }
