.card{
  width: 130px;
  height: 130px;
  perspective: 600px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &__side{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    &_back{
      background:linear-gradient(to bottom left, #19668D, #22AB93);
      border:5px solid white;
    }
    &_front{
      font-size: 75px;
      background-color: white;
    }

    .card_chosen_wrong &_front{
      background-color: #F44336;
    }

    .card_chosen_right &_front{
      background-color: #5AD66F;
    }

    .card_default &_front{
      transform: rotateY(90deg);
    }

    @keyframes front-turn-out{
      0%{ transform: rotateY(0deg);}
      100%{ transform: rotateY(-90deg);}
    }
    .card_turned-back &_front{
      animation: front-turn-out 0.3s ease-in both;
    }

    @keyframes back-turn-out{
      0%{ transform: rotateY(0deg);}
      100%{ transform: rotateY(90deg);}
    }
    .card_turned-front &_back{
      animation: back-turn-out 0.3s ease-in both;
    }

    @keyframes back-turn-in{
      0%{ transform: rotateY(90deg);}
      100%{ transform: rotateY(0deg);}
    }
    .card_turned-back &_back{
      animation: back-turn-in 0.3s 0.3s ease-out both;
    }

    @keyframes front-turn-in{
      0%{ transform: rotateY(-90deg);}
      100%{ transform: rotateY(0deg);}
    }
    .card_turned-front &_front{
      animation: front-turn-in 0.3s 0.3s ease-out both;
    }
  }
}
