.page{
  min-height: 1614px;
  min-width: 1020px;
  background-color: #CFD0CF;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header{
    height: 122px;
    width: auto;
  }
}
